 body{
     padding: 0PX;
     margin: 0PX;
     display: grid;
     grid-template-columns: repeat(3,minmax(200px,1fr));
     grid-template-rows: repeat(3,minmax(200px,450px));
 }

 #top
 {
     position: fixed;
     background: saddlebrown;
     padding: 5px;
     display: grid;
     grid-template-columns: repeat(4,minmax(70px,1fr));
     grid-template-rows: repeat(3,minmax(75px,110px));
 justify-content: center;
 align-items: center;
 grid-column-gap:0px ;
 z-index: 999;
 width: 100%;
 height: 100px;
 box-shadow: 0px 4px 6px 2px black;
 }

 .logo{
     color: transparent;
     font-weight: 100;
     background: transparent;
     box-shadow: inset 2px 2px 20px 2px black;
     font-size: 3.6rem;
     padding: 14px;
     text-align: center;
     text-shadow: 0px 2px 3px slategrey;
    -webkit-background-clip: text !important;
    background-color: black;
    border-radius: 5px;
    grid-column: 2/4;
    }

    .cart-icon{
        width: 55px;
        height: 55px;
        justify-self: center;
        grid-column: 4;
        border: solid 1px black;
        border-radius:5px;
        padding: 10px;
        box-shadow: 0px 0px 4px 1px black;

    }
    .cart-icon:active
    {
        box-shadow: inset 0px 0px 4px 1px black;
    }
    .first{
        background: blueviolet;
        grid-column: 1/4;
        grid-row: 1/2;
        clip-path:polygon(0 0%,100% 0,100% 80%,0 98%);
        background-attachment: fixed;
        background-position: top;
    }

    .menu{
        grid-column: 1/4;
        grid-row: 2;
    }
    .menu h1{
        width: 250px;
        text-align: center;
        padding: 8px;
        /*border-bottom: dotted 4px saddlebrown;*/
    }
    .menu >div.items{
        display: grid;
        padding: 8px;
        justify-content: center;
        text-align: center;
        grid-template-columns: repeat(auto-fit,minmax(200px,250px));
        grid-template-rows: repeat(auto-fit,minmax(50px,1fr));
    }
    .bgfix{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 600px;
        background-size: cover;
        background-attachment: fixed;
    }
    .first-bg
    {
        background-color: salmon;
        clip-path:polygon(0 20%,100% 2%,100% 75%,0 98%);
    }
    .second-bg
    {
        background-color: blue;
        clip-path:polygon(0 20%,100% 2%,100% 75%,0 98%);
    }
    .second-bg
    {
        background-color: darkgreen;
        clip-path:polygon(0 20%,100% 2%,100% 75%,0 98%);
    }
    .product-box
    {
        margin: 8px;
        background: darkseagreen;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 4px 5px black;
    }
    .price ,.title{
        color: white;
        font-size: 1.6rem;
        text-align: center;
    }

    .title{
        height: 40px;
    }
    .image{ 
        width: 220px;
        height: 220px;
        border-radius: 5px;
        border: solid 1px white;
    }
    .cart-container
    {
      position: fixed;
      background: saddlebrown;
      width: 100%;
      height: 100%;
      display: none;
    }

    .cart-container > table:nth-child(1)
    {
        width: 40%;
        margin: 150px 0px 0px 480px;
        text-align: center;
        font-size: 1.4rem;
    }

    table tr td{
        border-bottom: dashed 1px black;
        padding: 10px;
    }

    table tr:nth-child(1)
    {
        
        background: black;
        color: white;
        line-height: 2;
    }

    .removeme:hover{
        cursor: pointer;
    }
    .totalitems{
        grid-column: 4;
        justify-self: center;
        background: limegreen;
        color: white;
        padding: 8px;
        width: 20px;
        height: 20px;
        text-align: center;
        margin: 2px 2px 52px 108px;
        border-radius: 20px;
        position: absolute;
        display: none;
        transform: scale(1.5);
    }
    .send-oreder{
        width: 20%;
        background: limegreen;
        padding: 20px;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 2rem;
        color: white;
        border-radius: 20px;
    }

    .send-oreder:hover
    {
        cursor: pointer;
    }

